# SPDX-License-Identifier: GPL-2.0

menu "Library options"

config ERRNO_STR
	bool "Enable function for getting errno-related string message"
	help
	  The function errno_str(int errno), returns a pointer to the errno
	  corresponding text message:
	  - if errno is null or positive number - a pointer to "Success" message
	  - if errno is negative - a pointer to errno related message

config SYS_PBSIZE
	int "Print message string buffer size"
	default 4096

endmenu
