CONFIG_ARM64=y
CONFIG_ROCK5A=y
CONFIG_CC_HAS_STACKPROTECTOR_NONE=y
CONFIG_HELLO_WORLD=y
CONFIG_CMDLINE=y
CONFIG_PRINTF=y
CONFIG_PLUGIN_HOSTCC=""
CONFIG_LOCALVERSION=""
CONFIG_LOCALVERSION_AUTO=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_PROJECT="ROCK5A"
CONFIG_S_PROJECT="rock"
CONFIG_SYS_TEXT_BASE=0x02000000
CONFIG_RELOC_SYS_TEXT_BASE=0x02000000
CONFIG_RELOC_SYS_BLOCK_SIZE=0x20000000
CONFIG_UART_MAX_NUM=10
CONFIG_PRINT_UART_BAUD=1500000
CONFIG_UART_PORT=2

CONFIG_UART_TEST=y
CONFIG_ERRNO_STR=y
CONFIG_SYS_PBSIZE=1024
CONFIG_MESSAGE_LOGLEVEL_DEFAULT=7
CONFIG_AUTO_COMPLETE=y
CONFIG_SYS_LONGHELP=y
CONFIG_SYS_PROMPT="[rock]# "
CONFIG_IDENT_STRING="ROCK5A"
CONFIG_CMD_UART=y

CONFIG_CMD_GICV3=y
CONFIG_GICV3_ITS=y
CONFIG_GICV3_TEST=y